<div id="app-container">
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
        {% for image in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ image.id }}</td>
                <td>{{ image.path }}</td>

            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
